<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wordnet.genshin.dao.WrongbookMapper">
  <resultMap id="BaseResultMap" type="wordnet.genshin.domain.Wrongbook">
    <id column="wrongid" jdbcType="INTEGER" property="wrongid" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="wrongdata" jdbcType="VARCHAR" property="wrongdata" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wrongid, word, username, wrongdata
  </sql>
  <select id="selectByExample" parameterType="wordnet.genshin.domain.WrongbookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wrongbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wrongbook
    where wrongid = #{wrongid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wrongbook
    where wrongid = #{wrongid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="wordnet.genshin.domain.WrongbookExample">
    delete from wrongbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="wordnet.genshin.domain.Wrongbook">
    insert into wrongbook (wrongid, word, username, 
      wrongdata)
    values (#{wrongid,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{wrongdata,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wordnet.genshin.domain.Wrongbook">
    insert into wrongbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wrongid != null">
        wrongid,
      </if>
      <if test="word != null">
        word,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="wrongdata != null">
        wrongdata,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wrongid != null">
        #{wrongid,jdbcType=INTEGER},
      </if>
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="wrongdata != null">
        #{wrongdata,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="wordnet.genshin.domain.WrongbookExample" resultType="java.lang.Long">
    select count(*) from wrongbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wrongbook
    <set>
      <if test="record.wrongid != null">
        wrongid = #{record.wrongid,jdbcType=INTEGER},
      </if>
      <if test="record.word != null">
        word = #{record.word,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.wrongdata != null">
        wrongdata = #{record.wrongdata,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wrongbook
    set wrongid = #{record.wrongid,jdbcType=INTEGER},
      word = #{record.word,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      wrongdata = #{record.wrongdata,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="wordnet.genshin.domain.Wrongbook">
    update wrongbook
    <set>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="wrongdata != null">
        wrongdata = #{wrongdata,jdbcType=VARCHAR},
      </if>
    </set>
    where wrongid = #{wrongid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wordnet.genshin.domain.Wrongbook">
    update wrongbook
    set word = #{word,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      wrongdata = #{wrongdata,jdbcType=VARCHAR}
    where wrongid = #{wrongid,jdbcType=INTEGER}
  </update>
</mapper>